{% extends "template.html" %}
{% set active_page = "home" %}
{% block content %}
  <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">Temperature</div>
      <div class="card-body">
          <p class="card-text">
              <table class="card-table">
                  <tr>
                      <td class="card-table-text">Living Room</td>
                      <td class="card-table-value">{{temperature.living_room}} °C</td>
                  </tr>
                  <tr>
                      <td class="card-table-text">Bathroom</td>
                      <td class="card-table-value">{{temperature.bathroom}} °C</td>
                  </tr>
                  <tr>
                      <td class="card-table-text">Balcony</td>
                      <td class="card-table-value">{{temperature.balcony}} °C</td>
                  </tr>
              </table>
          </p>
      </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">Humidity</div>
      <div class="card-body">
          <p class="card-text">
              <table class="card-table">
                  <tr>
                      <td class="card-table-text">Living Room</td>
                      <td class="card-table-value">{{humidity.living_room}} %</td>
                  </tr>
                  <tr>
                      <td class="card-table-text">Bathroom</td>
                      <td class="card-table-value">{{humidity.bathroom}} %</td>
                  </tr>
                  <tr>
                      <td class="card-table-text">Balcony</td>
                      <td class="card-table-value">{{humidity.balcony}} %</td>
                  </tr>
              </table>
          </p>
      </div>
  </div>
{% endblock %}