<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>TrueHome</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'temperature' else '' }}">
                    <a class="nav-link" href="{{ url_for('temperature') }}">Temperature</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'humidity' else '' }}">
                    <a class="nav-link" href="{{ url_for('humidity') }}">Humidity</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>